{{ define "main" }}

{{$class := cond (isset .Page.Params "subtitle") "mb-2" "mb-4"}}
{{if .Content }}
    <div class="mb-4">
        <h1 class="font-bold text-4xl {{$class}}">{{.Title}}</h1>
        {{ if isset .Page.Params "subtitle" }}
        <h2 class="text-xl mb-4">{{.Page.Params.subtitle}}</h2>
        {{ end }}
        <article class="content">
            {{.Content}}
        </article>
    </div>
{{else}}
    <div class="mb-4">
        <h1 class="font-bold text-4xl text-center {{$class}}">{{.Title}}</h1>
        {{ if isset .Page.Params "subtitle" }}
        <h2 class="text-xl mb-4 text-center font-light">{{.Page.Params.subtitle}}</h2>
        {{ end }}
    </div>
{{end}}

{{ range .Pages }}
<a href="{{ .Permalink }}"
    class="flex flex-row space-x-4 justify-center hover:bg-slate-100 hover:underline py-2 border-b">
    <span class="font-semibold flex-1 text-right">{{.Date.Format "January 2, 2006"}}</span>
    <span class="flex-1">{{.Name}}</span>
</a>
{{ end }}

{{ end }}